@use '@angular/material' as mat;

// Include core styles
@include mat.core();

// Custom color palettes
$farm-primary: mat.define-palette(mat.$green-palette);
$farm-accent: mat.define-palette(mat.$orange-palette);
$farm-warn: mat.define-palette(mat.$red-palette);

// Theme definition
$farm-theme: mat.define-light-theme((
  color: (
    primary: $farm-primary,
    accent: $farm-accent,
    warn: $farm-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Apply theme
@include mat.all-component-themes($farm-theme);
