<div class="auth-container">
  <mat-card>
    <h2>Register</h2>

    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="mobile" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width">
        Register
      </button>
    </form>
  </mat-card>
</div>
